#p2{
    color: blue;
    background-color: aquamarine;
    border: 2px solid green;
}

/* p{
color: blue;
background-color: aqua;
border: 2px solid red;
} */
/* this is element selector (target to elements) */

.div1{
    color: blue;
    background-color: aqua;
    border: 2px solid red;
}
/* class selector (.(dot) for class selector) */

#para1st{
    color: blue;
    background-color: aqua;
    border: 2px solid red;
}
/* id selector (specificaly target for one element) (# for id selector) */

/* h1,p{
    color: blue;
    background-color: aqua;
    border: 2px solid red;
} */
/* it is effect to 2 elements (also we can contain multipel elements) */

.div1 p{
    color: blue;
    background-color: aqua;
    border: 2px solid red;
}
/* inside the div or class target to one element. */

#para2{
    color: red;
    /* normal color picer */
    color: rgb(120, 194, 139);
    /* rgb color */
    color: #2fff2f;
    /* hex color */
}

#para3{
    height: 300px;
    width: 300px;
}
/* it is occupies this place(without any content also). */

#para4{
    border-width: 2px;
    border-style: solid;
    border-color: red;
}
/* borders */
#para5{
    border: 2px solid blue;
}
/* border in one line */

#para6{
    border: 2px solid blue;
    border-radius: 13px;
}
/* It applys every side */

#para7{
    border: 2px solid gray;
    border-top-left-radius: 13px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 10px;
}
/* it applys perticular sides */

#bg1{
    /* background-color: bisque; */
    /* it is for background color */
    background-image: url(/images/images.png);
    /* it is for background image */
}
#bg2{
    height: 300px;
    width: 300px;
    border: 2px solid blue;
    color: red;
    background-image: url(/images/images.png);
}
/* it looks as repeats the image becaus it is small image */

#bg3{
    background-repeat: no-repeat;
    /* above code(same as it is) */
    background-position: top left;
    /* we can aline with position (top left, top center, top left, center left, center center, center right, bottom left, bottom center, bottom left)*/
    /* for position change */
}

*{
    margin: 0px;
}
/* It contains full spaces */

.div1{
    border: 4px solid red;
    width: 400px;
    height: 400px;
    margin: 25px;
}

.div2{
    border: 4px solid rebeccapurple;
    width: 400px;
    margin-bottom: 10px;
    margin-top: 12px;
    margin-left: 20px;
    margin-right: 25px;
}

.div3{
    border: 4px solid gold;
    width: 40px;
    margin: 10px 5px 15px 20px;
    /* top, right, bottom, left */
/* above code in single line */
}

.div4{
    border: 4px solid firebrick;
    width: 400px;
    padding: 20px;
}

.div5{
    border: 4px solid darkorange;
    width: 400px;
    padding-top: 10px;
    padding-right: 24px;
    padding-top: 15px;
    padding-bottom: 10px;
}

.div6{
    border: 3px solid indianred;
    width: 400px;
    padding: 10px 15px 20px 25px;
    /* top, right, bottom, left */
    /* above code in single line */
}
.div7{
    border: 4px solid rgb(80, 17, 228);
    width: 400px;
    padding: 10px 15px 20px 25px;
    box-sizing: border-box;

}



